<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="apartments.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let apartment of apartments">
    <mat-expansion-panel-header>
      {{ apartment.title }}
    </mat-expansion-panel-header>
    <div class="apartment-image">
      <img [src]="apartment.imagePath" [alt]="apartment.title">
    </div>
    <p>{{ apartment.address }}</p>
    <p *ngIf="userIsAuthenticated">Phone Number: {{ apartment.phoneNumber }}</p>
    <p *ngIf="!userIsAuthenticated">Phone Number: Please <a class="lsBtn" routerLink="/auth/login">Login</a> or <a class="lsBtn" routerLink="/auth/signup">Signup</a> to see the phone number</p>
    <p>Bedrooms: {{ apartment.bedroomCount }}</p>
    <p>Bathrooms: {{ apartment.bathroomCount }}</p>
    <p>Kitchen: {{ apartment.kitchenCount }}</p>
    <p>Garage: {{ apartment.garageCount }}</p>
    <p>USD ${{ apartment.price }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === apartment.creator">
      <a mat-button color="primary" [routerLink]="['/edit', apartment.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(apartment.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalApartments" [pageSize]="apartmentsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="apartments.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="apartments.length <= 0 && !isLoading">No apartments have been found.</p>
