mat-spinner {
  margin: auto;
}

mat-form-field, textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;

  img {
    height: 100%;
  }
}

.roomCount {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // flex-wrap: wrap;

  .roomCounter {
    margin-left: 40px;
    width: 8%;


    &-1 {
      margin-left: 0;
    }
  }

}

